.cell {
    border: 1px black solid;
    border-right: none;
    border-bottom: none;
}

.valid {
    background-color: lightgreen;
}

.invalid {
    background-color: #ff4040;
}
.ship {
    background-color: rgb(7, 44, 42);
}

.ship.hit {
    background-color: red;
}

.hit {
    background-color: deepskyblue;
}



.game-start-button {
    font-size: 100px;
    background-color: aqua;
    width:fit-content;
    cursor: pointer;

}


.board-container {
    display : flex;
    justify-content: space-around;

}

.board {
    height: 47vh;
    width: 47vh;  
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-items: stretch;
    align-items: stretch;

}

.select-position {
    display: flex;
    gap: 20px;

}

.select-ships {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board, .carrier, .battleship, .destroyer, .submarine, .patrol-boat {
    border-bottom: black 1px solid;
    border-right: black 1px solid;  
}


.battleship, .destroyer, .carrier, .submarine, .patrol-boat {
    margin: 10px 0;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-rows: calc(47vh/10);
    grid-auto-columns: calc(47vh/10);
    grid-auto-flow: column;
    width: fit-content;
    background-color: green;
}


/* Important */
.hidden {
    display: none;
}